
	.btn-back, .btn-home:active, .btn-back:hover {
    background-image: linear-gradient(to bottom, #5cb85c 0px, #5cb85c 100%);
    background-repeat: repeat-x;
    border-color: #5cb85c;
    margin-top: 10px;
    margin-left: 10px;
    min-width: 140px;
    float: left;
    -moz-user-select: none;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    height: 80%;
}

.btns {
 
    border-color: #5cb85c;
    margin-top: 10px;
    margin-left: 10px;
    min-width: 140px;
    float: left;
    -moz-user-select: none;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    height: 80%;
}

.footer {
  bottom: 2px;
  height: 980px;
  position: fixed;
  width: 100%;
  background-color: #333333;
  display: block;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;



body {
  height: 96%; overflow: scroll;  background-color: #1a237e;
}